.FrootDiv {
  margin: auto;
  height: 80vh;
  margin-left: 64px;
  margin-bottom: 90px;
  margin-right: 64px;
  margin-top: 90px;
  position: relative;
  gap: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-image: linear-gradient(301deg, #1a1831 0%, #02383c 165%);
}
.t1 {
  align-self: stretch;
  color: #ffffff;
  font-size: 32px;
  font-weight: 400;
  font-family: Open Sans;
  text-align: center;
  white-space: pre-wrap;
  padding-top: 50px;
}
.t2 {
  display: contents;
  color: #ffffff;
  font-size: 32px;
  font-weight: 400;
  font-family: Open Sans;
  white-space: pre-wrap;
}
.t3 {
  display: contents;
  color: #ffffff;
  font-size: 32px;
  font-weight: 400;
  font-family: Open Sans;
}
.NewGDiv {
  margin: auto;
  max-width: 1536px;
  display: flex;
  max-height: 700px;
  flex-direction: row;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  font-family: Open Sans;
  gap: 64px;
}
.t4 {

  max-width: 768px;
  left:0px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  text-align: left;
  z-index : 1;

}
.G3 {

  margin: auto;
  height: 100%;
  min-width: 400px;
  display: flex;
  right: 0px;
  flex-direction: column;
  align-self: center;
  justify-content: flex-end;
  /* border: 1px solid black; */
}
.t5 {
  display: contents;
  color: #ffffff;
  font-size: 28px;
  font-family: Open Sans;
  line-height: 48px;
  white-space: pre-wrap;
}
.t6 {
  display: contents;
  color: #ffffff;
  font-size: 28px;
  font-weight: 00;
  font-family: Open Sans;
  line-height: 48px;
}

.Img1 {
  position: absolute;
}
.g {
  position: absolute;
}
