.Lay4HeroDiv {
  width: 98vw;
  max-width: 1536px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
  margin: auto;
  border-radius:20px;
  /* bottom:8; */
  background-image: linear-gradient(301deg, #1a1831 0%, #02383c 165%);

}

.Lay4LeftDiv {
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  text-align: left;
  padding: 30px 30px 30px 30px;
}

.Lay4RightDiv {
  margin: auto;
  min-width: 200px;
  position: absolute;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: flex-end;
  z-index: 1;
}

.Lay4-MainContainer {
  width: 100vw;
  height: 100vh;
  margin: auto;
  position: relative;
  font-family: Open Sans;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
  background-color: rgb(245, 245, 245);
}
.Lay4-MainContent {
  display: flex;
  max-width: 1536px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  background-image: linear-gradient(301deg, #1a1831 0%, #02383c 165%);
}
.lay-MainHeader {
  max-width: 1536px;
  margin: auto;
  color: #1a1831;
  font-size: 35px;
  font-weight: 550;
  font-family: Open Sans;
}

.lay4-IconDiv {
  max-width: 1536px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: stretch;
  align-items: flex-start;
  margin: auto;
}
.lay4-FlexColumn {
  gap: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 20px 0px 0px;
  padding: 10px 11.5px 9px 12px;
  border-width: 2px;
}
.Lay4-MainGroup {
  max-height: 864px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  border-radius: 20px;
  background-image: linear-gradient(301deg, #1a1831 0%, #02383c 165%);
}
.Lay4-RightContent {
  margin: auto;
  position: absolute;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: flex-end;
  background-size: cover;
  background-image: url("https://file.rendit.io/n/R3LHF7Vi6GhyJOT3wjZi.png");
}
.Lay4-LeftContent {
  margin: auto;
  max-width: 768px;
  left: 0px;
  gap: 70px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  text-align: left;
  z-index: 1;
}
.lay4-Image1 {
  max-width: 32.5px;
  height: 37px;
  color: Black;
}
.lay4-Image2 {
  max-width: 37px;
  height: 37px;
  color: Black;
}
.Lay4-Image3 {
  width: 75.5px;
  height: 80px;
  left: 0px;
  top: 13px;
  position: absolute;
}
.lay4Paragraph {
  max-width: 864px;
  color: white;
  text-align: left;
  font-size: 30px;
  font-family: Open Sans;
  line-height: 50px;
}

.lay4-Group14 {
  height: 60px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 0px 104px 0px 0px;
}
.Lay4-text1 {
  align-self: flex-end;
  /* margin: 0px 3px 0px 0px; */
  margin:auto;
  color: #1a1831;
  font-size: 32px;
  font-family: Open Sans;
  white-space: nowrap;
}
.Lay4-line {
  max-width: 349px;
  height: 3px;
}
.Lay4-Idcard {
  max-width: 36px;
  height: 36px;
  left: 12px;
  top: 12px;
  position: absolute;
}
.Lay4-FlexColumn2 {
  height: 37px;
  gap: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 20px 0px 0px;
  padding: 9px 9.04px 10px 10px;
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;
  border-color: #02383c;
}
.Lay4-Image2 {
  max-width: 37px;
  height: 37px;
}
.lay4img5 {
}
.Lay4-text2 {
  max-width: 410px;
  margin: 0px 97px 0px 0px;
  color: #1a1831;
  font-size: 32px;
  font-family: Open Sans;
}
.Lay4-text3 {
    color: #1a1831;
  font-size: 32px;
  font-family: Open Sans;
  white-space: nowrap;
}
.Lay4-Group15 {
  min-width: 60px;
  position: relative;
  gap: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.idcard {
  max-width: 36px;
  height: 36px;
  left: 12px;
  top: 12px;
  position: absolute;
}

.Lay4-text3 {
  color: #1a1831;
  font-size: 32px;
  font-family: Open Sans;
  white-space: nowrap;
}

/* .Element1Layout2 {
  display: contents;
  color: rgba(255, 255, 255, 0.3);
  font-size: 77px;
  font-weight: 700;
  font-family: Open Sans;
} */

@media screen and (min-width: 280px) and (max-width: 600px) {
  .Lay4-MainContainer {
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
  }
  .lay-MainHeader {
    font-size: 20px;
    font-weight: 500;
  }
  .Lay4HeroDiv {
    height: 100%;
    width: 100%;
    border-radius: 0px;
  }
  .Lay4LeftDiv {
    min-height: 400px;
    width: 100vw;
    height: 100%;
    padding: 0px;
    border-radius: 0px;
  }
  .lay4-IconDiv {
    display: none !important;
  }
  .Lay4-FlexColumn5 {
    display: none !important;
  }
  .Lay4RightDiv {
    width: 100%;
  }
  .lay4Paragraph {
    margin: auto;
    font-size: 18px;
    width: 95%;
    text-align: left;
    line-height: 35px;
    color: white;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .Lay4-MainContainer {
    width: 100vw;
    height: 100vh;
  }

  .lay-MainHeader {
    font-size: 45px;
    font-weight: 500;
  }
  .Lay4HeroDiv {
    width: 100%;
    border-radius: 0px;
  }
  .Lay4LeftDiv {
    width: 100%;
  }
  .lay4-IconDiv {
    display: none !important;
  }
  .Lay4RightDiv {
    min-width: 90vw;
  }
  .lay4Paragraph {
    margin: auto;
    font-size: 30px;
    width: 90%;
    text-align: left;
    color: white;
    line-height: 63px;
  }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .Lay4-MainContainer {
    width: 100vw;
    height: 98vh;
  }

  .lay4-MainHeader {
    font-size: 30px;
    font-weight: 400;
  }
  .Lay4HeroDiv {
    width: 90%;
  }
  .Lay4LeftDiv {
    width: 100%;
  }

  .Lay4RightDiv {
    min-width: 90vw;
  }
  .lay4Paragraph {
    font-size: 25px;
    font-weight: 50;
    width: 80%;
    line-height: 30px;
    text-align: left;
  }
  .lay4Paragraph1 {
    font-size: 25px;
    font-weight: 50;
    width: 80%;
    line-height: 30px;
    text-align: left;
  }
  .lay4Paragraph2 {
    font-size: 25px;
    font-weight: 50;
    width: 80%;
    line-height: 30px;
    text-align: left;
  }
}
