.FrootDiv {
  margin: auto;
  /* position: relative; */
  height: 80vh;
  max-height: 600px;
  margin-left: 64px;
  margin-bottom: 80px;
  margin-right: 64px;
  margin-top: 80px;
  position: relative;
  gap: 50px;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  /* align-items: center; */
  /* padding: 30px 33px 30px 32px; */
  border-radius: 20px;
  background-image: linear-gradient(301deg, #1a1831 0%, #02383c 165%);
}
.t1 {
  align-self: stretch;
  color: #ffffff;
  font-size: 32px;
  font-weight: 400;
  font-family: Open Sans;
  text-align: center;
  white-space: pre-wrap;
  padding-top:50px;
}
.t2 {
  display: contents;
  color: #ffffff;
  font-size: 32px;
  font-weight: 400;
  font-family: Open Sans;
  white-space: pre-wrap;
}
.t3 {
  display: contents;
  color: #ffffff;
  font-size: 32px;
  font-weight: 400;
  font-family: Open Sans;
}
.NewGDiv {
  margin: auto;
  max-width: 1536px;
  display: flex;
  max-height:700px;
  flex-direction: row;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  font-family: Open Sans;
}
.t4 {
  max-width: 768px;
  color: #ffffff;
  flex-direction: column;
  font-size: 28px;
  font-weight: 400;
  left: 0px;
  flex-direction: column;
  font-family: Open Sans;
  justify-content: space-between;
  line-height: 60px;
  padding-left:20px;
  background-color: rgba(22, 0, 0, 0);
  /* text-align: left;
  align-items: left;
  z-index: 1; */
  /* max-width: 768px; */
  /* top: 150px; */
  /* left: 0px; */
  /* display: flex; */
  /* flex-direction: column; */
  align-items: left;
  justify-content: flex-start;
  text-align:left;
  z-index: 1;
  
}
.G3 {
  margin:auto;
  height:100%;
  min-width: 600px;
  position: absolute;
  display: flex;
  right: 0px;
  flex-direction: column;
  align-self: center;
  /* justify-content: ;  */
  
  /* display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center; */
}
.t5 {
  display: contents;
  color: #ffffff;
  font-size: 28px;
  font-family: Open Sans;
  line-height: 48px;
  white-space: pre-wrap;
}
.t6 {
  display: contents;
  color: #ffffff;
  font-size: 28px;
  font-weight: 00;
  font-family: Open Sans;
  line-height: 48px;
}

.Img1 {
  /* width: 100%;
  height: 100%; */
  position: absolute;
}
.g {
  /* width: 100%;
  height: 100%; */
  position: absolute;
}
